.w-100{
   width: 100%;
}
.w-25{
   width: 25%;
}
.justify-center{
   justify-content: center;
}
.justify-between{
   justify-content: space-between;
}
.items-center{
   align-items: center;
}
.items-start{
   align-items: flex-start;
}
.items-end{
   align-items: flex-end;
}
.flex-row{
   display: flex;
   flex-direction: row;
}
.flex-column{
   display: flex;
   flex-direction: column;
}
.order-2{
   order: 2;
}
.px-20{
   padding: 0 20px;
}
.pt-20{
   padding-top: 20px;
}
.mt-10{
   margin-top: 10px;
}
.mt-20{
   margin-top: 20px;
}
.mb-10{
   margin-bottom: 10px;
}
.mb-20{
   margin-bottom: 20px;
}
.mt-40{
   margin-top: 40px;
}
/* COLUMYNS */
.col-6{
   width: 50%;
}
.col-4{
   width: calc(100% / 3);
}

/* TEXT-ALIGN */
.text-center{
   text-align: center;
}
.text-left{
   text-align: left;
}
.text-right{
   text-align: right;
}
/* FONT */

.font-14{
   font-size: 14px;
}
.font-16{
   font-size: 16px;
}
/* CURSOR */
.pointer{cursor: pointer;}
/* HOVER */
.hover-filter-drop-shadow:hover{
   filter: drop-shadow(0 0 .5em gold);
   -webkit-filter: drop-shadow(0 0 .5em gold);
}
.hover-bg:hover{
   background-color: rgba(255, 255, 255,.1);
}
/* ROUNDED */
.rounded-100{border-radius: 100%;}
.rounded-50{border-radius: 50%;}
.rounded-10{
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.rounded-16{
   border-radius: 16px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   -ms-border-radius: 16px;
   -o-border-radius: 16px;
}
/* TRANSITION */
.transition{
   transition: all .3s ease-in-out;
}
/* POSITION */
.relative{
   position: relative;
}
.absolute{
   position: absolute;
}
.fixed{
   position: fixed;
}
.static{
   position: static;
}